<div class="col-12">
  <h3 class="title">Editar imóvel</h3>
  <form [formGroup]="ImovelForm"
        (ngSubmit)="onSubmit()">
    <div class="row">
      <!--Número-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['numero'].invalid && ImovelForm.controls['numero'].touched}">
          <label for="numero-input"
                 class="form-control-label">Número</label>
          <input id="numero-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['numero'].invalid}"
                 formControlName="numero"
                 placeholder="Número do imóvel">
          <div *ngIf="ImovelForm.controls['numero'].invalid && ImovelForm.controls['numero'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['numero'].errors?.required">O campo é obrigatório.
            </small>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['numero'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Valor-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['valor'].invalid && ImovelForm.controls['valor'].touched}">
          <label for="valor-input"
                 class="form-control-label">Valor</label>
          <input id="valor-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['valor'].invalid}"
                 formControlName="valor"
                 placeholder="Valor do imóvel">
          <div *ngIf="ImovelForm.controls['valor'].invalid && ImovelForm.controls['valor'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['valor'].errors?.required">O campo é obrigatório.
            </small>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['valor'].errors?.min">O campo deve ser maior que 100
            </small>
          </div>
        </div>
      </div>
      <!--Dormitório-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['dormitorio'].invalid && ImovelForm.controls['dormitorio'].touched}">
          <label for="dormitorio-input"
                 class="form-control-label">Dormitórios</label>
          <input id="dormitorio-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['dormitorio'].invalid}"
                 formControlName="dormitorio"
                 placeholder="Número de dormitórios">
          <div *ngIf="ImovelForm.controls['dormitorio'].invalid && ImovelForm.controls['dormitorio'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['dormitorio'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Suíte-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['suite'].invalid && ImovelForm.controls['suite'].touched}">
          <label for="suite-input"
                 class="form-control-label">Suítes</label>
          <input id="suite-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['suite'].invalid}"
                 formControlName="suite"
                 placeholder="Número de suítes">
          <div *ngIf="ImovelForm.controls['suite'].invalid && ImovelForm.controls['suite'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['suite'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Banheiros-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['banheiro'].invalid && ImovelForm.controls['banheiro'].touched}">
          <label for="banheiro-input"
                 class="form-control-label">Banheiros</label>
          <input id="banheiro-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['banheiro'].invalid}"
                 formControlName="banheiro"
                 placeholder="Número de banheiros">
          <div *ngIf="ImovelForm.controls['banheiro'].invalid && ImovelForm.controls['banheiro'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['banheiro'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Garagem-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['garagem'].invalid && ImovelForm.controls['garagem'].touched}">
          <label for="garagem-input"
                 class="form-control-label">Garagens</label>
          <input id="garagem-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['garagem'].invalid}"
                 formControlName="garagem"
                 placeholder="Número de garagens">
          <div *ngIf="ImovelForm.controls['garagem'].invalid && ImovelForm.controls['garagem'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['garagem'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Área do terrreno-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['aterreno'].invalid && ImovelForm.controls['aterreno'].touched}">
          <label for="aterreno-input"
                 class="form-control-label">Área do terreno</label>
          <input id="aterreno-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['aterreno'].invalid}"
                 formControlName="aterreno"
                 placeholder="Área do terreno">
          <div *ngIf="ImovelForm.controls['aterreno'].invalid && ImovelForm.controls['aterreno'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['aterreno'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Área construída-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['aconstruida'].invalid && ImovelForm.controls['aconstruida'].touched}">
          <label for="aconstruida-input"
                 class="form-control-label">Área construída</label>
          <input id="aconstruida-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['aconstruida'].invalid}"
                 formControlName="aconstruida"
                 placeholder="Área construída">
          <div *ngIf="ImovelForm.controls['aconstruida'].invalid && ImovelForm.controls['aconstruida'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['aconstruida'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Descrição-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['descricao'].invalid && ImovelForm.controls['descricao'].touched}">
          <label for="descricao-input"
                 class="form-control-label">Descrição</label>
          <textarea id="descricao-input"
                    class="form-control"
                    [ngClass]="{'form-control-danger': ImovelForm.controls['descricao'].invalid}"
                    formControlName="descricao"
                    placeholder="Descrição">
          </textarea>
          <div *ngIf="ImovelForm.controls['descricao'].invalid && ImovelForm.controls['descricao'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['descricao'].errors?.required">O campo é necessário
            </small>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['descricao'].errors?.minLength">O campo deve ter ao menos 10 caracteres
            </small>
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="rua">
      <div class="row">
        <!--CEP-->
        <div class="col">
          <div class="form-group"
               [ngClass]="{'has-danger': ImovelForm.get('rua.cep').invalid && ImovelForm.get('rua.cep').touched}">
            <label for="cep-input"
                   class="form-control-label">CEP</label>
            <input id="cep-input"
                   type="number"
                   class="form-control"
                   [ngClass]="{'form-control-danger': ImovelForm.get('rua.cep').invalid}"
                   formControlName="cep"
                   placeholder="18405000">
            <div *ngIf="ImovelForm.get('rua.cep').invalid && ImovelForm.get('rua.cep').touched">
              <div class="form-control-feedback"> Oops! Há algo de errado!</div>
              <small class="form-text text-muted"
                     *ngIf="ImovelForm.get('rua.cep').errors?.required">O campo é necessário
              </small>
              <small class="form-text text-muted"
                     *ngIf="ImovelForm.get('rua.cep').errors?.pattern">O campo não é um CEP
              </small>
            </div>
          </div>
        </div>
        <!--RUA-->
        <div class="col">
          <div class="form-group"
               [ngClass]="{'has-danger': ImovelForm.get('rua.rua').invalid && ImovelForm.get('rua.rua').touched}">
            <label for="rua-input"
                   class="form-control-label">RUA</label>
            <input id="rua-input"
                   type="text"
                   class="form-control"
                   [ngClass]="{'form-control-danger': ImovelForm.get('rua.rua').invalid}"
                   formControlName="rua"
                   placeholder="Logradouro">
            <div *ngIf="ImovelForm.get('rua.rua').invalid && ImovelForm.get('rua.rua').touched">
              <div class="form-control-feedback"> Oops! Há algo de errado!</div>
              <small class="form-text text-muted"
                     *ngIf="ImovelForm.get('rua.rua').errors?.required">O campo é necessário
              </small>
              <small class="form-text text-muted"
                     *ngIf="ImovelForm.get('rua.rua').errors?.minlength">O campo necessita ter 3 caracteres
              </small>
            </div>
          </div>
        </div>
      </div>
      <div formGroupName="bairro">
        <div class="row">
          <!--BAIRRO-->
          <div class="col">
            <div class="form-group"
                 [ngClass]="{'has-danger': ImovelForm.get('rua.bairro.bairro').invalid && ImovelForm.get('rua.bairro.bairro').touched}">
              <label for="bairro-input"
                     class="form-control-label">Bairro</label>
              <input id="bairro-input"
                     type="text"
                     class="form-control"
                     [ngClass]="{'form-control-danger': ImovelForm.get('rua.bairro.bairro').invalid}"
                     formControlName="bairro"
                     placeholder="Bairro">
              <div *ngIf="ImovelForm.get('rua.bairro.bairro').invalid && ImovelForm.get('rua.bairro.bairro').touched">
                <div class="form-control-feedback"> Oops! Há algo de errado!</div>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.bairro').errors?.required">O campo é necessário
                </small>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.bairro').errors?.minlength">O campo necessita ter 3 caracteres
                </small>
              </div>
            </div>
          </div>
          <!--CIDADE-->
          <div class="col" formGroupName="cidade">
            <div class="form-group"
                 [ngClass]="{'has-danger': ImovelForm.get('rua.bairro.cidade.cidade').invalid && ImovelForm.get('rua.bairro.cidade.cidade').touched}">
              <label for="cidade-input"
                     class="form-control-label">Cidade</label>
              <input id="cidade-input"
                     type="text"
                     class="form-control"
                     [ngClass]="{'form-control-danger': ImovelForm.get('rua.bairro.cidade.cidade').invalid}"
                     formControlName="cidade"
                     placeholder="Cidade">
              <div
                *ngIf="ImovelForm.get('rua.bairro.cidade.cidade').invalid && ImovelForm.get('rua.bairro.cidade.cidade').touched">
                <div class="form-control-feedback"> Oops! Há algo de errado!</div>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.cidade').errors?.required">O campo é necessário
                </small>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.cidade').errors?.minlength">O campo necessita ter 3
                  caracteres
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row" formGroupName="cidade">

          <!--ESTADO-->
          <div class="col" formGroupName="estado">
            <div class="form-group"
                 [ngClass]="{'has-danger': ImovelForm.get('rua.bairro.cidade.estado.estado').invalid && ImovelForm.get('rua.bairro.cidade.estado.estado').touched}">
              <label for="estado-input"
                     class="form-control-label">Estado</label>
              <input id="estado-input"
                     type="text"
                     class="form-control"
                     [ngClass]="{'form-control-danger': ImovelForm.get('rua.bairro.cidade.estado.estado').invalid}"
                     formControlName="estado"
                     placeholder="Estado">
              <div
                *ngIf="ImovelForm.get('rua.bairro.cidade.estado.estado').invalid && ImovelForm.get('rua.bairro.cidade.estado.estado').touched">
                <div class="form-control-feedback"> Oops! Há algo de errado!</div>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.estado.estado').errors?.required">O campo é necessário
                </small>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.estado.estado').errors?.minlength">O campo necessita ter
                  3
                  caracteres
                </small>
              </div>
            </div>
          </div>
          <!--UF-->
          <div class="col" formGroupName="estado">
            <div class="form-group"
                 [ngClass]="{'has-danger': ImovelForm.get('rua.bairro.cidade.estado.uf').invalid && ImovelForm.get('rua.bairro.cidade.estado.uf').touched}">
              <label for="uf-input"
                     class="form-control-label">UF</label>
              <input id="uf-input"
                     type="text"
                     class="form-control"
                     [ngClass]="{'form-control-danger': ImovelForm.get('rua.bairro.cidade.estado.uf').invalid}"
                     formControlName="uf"
                     placeholder="UF">
              <div
                *ngIf="ImovelForm.get('rua.bairro.cidade.estado.uf').invalid && ImovelForm.get('rua.bairro.cidade.estado.uf').touched">
                <div class="form-control-feedback"> Oops! Há algo de errado!</div>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.estado.uf').errors?.required">O campo é necessário
                </small>
                <small class="form-text text-muted"
                       *ngIf="ImovelForm.get('rua.bairro.cidade.estado.uf').errors?.minlength || ImovelForm.get('rua.bairro.cidade.estado.uf').errors?.maxlength">
                  O campo tem apenas 2 caracteres
                  caracteres
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit"
                [disabled]="ImovelForm.invalid"
                class="btn btn-success btn-default">
          <i class="fa fa-save fa-lg"></i>
          Salvar
        </button>
      </div>
    </div>
    <div class="row">
      Formulário: {{ImovelForm.value | json}}
    </div>
  </form>
</div>
