<div class="col-12">
  <form [formGroup]="ImovelForm"
        (ngSubmit)="onSubmit()">
    <div class="row">
      <!--Número-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['numero'].invalid && ImovelForm.controls['numero'].touched}">
          <label for="numero-input"
                 class="form-control-label">Número</label>
          <input id="numero-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['numero'].invalid}"
                 formControlName="numero"
                 placeholder="Número do imóvel">
          <div *ngIf="ImovelForm.controls['numero'].invalid && ImovelForm.controls['numero'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['numero'].errors?.required">O campo é obrigatório.
            </small>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['numero'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Valor-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['valor'].invalid && ImovelForm.controls['valor'].touched}">
          <label for="valor-input"
                 class="form-control-label">Valor</label>
          <input id="valor-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['valor'].invalid}"
                 formControlName="valor"
                 placeholder="Valor do imóvel">
          <div *ngIf="ImovelForm.controls['valor'].invalid && ImovelForm.controls['valor'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['valor'].errors?.required">O campo é obrigatório.
            </small>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['valor'].errors?.min">O campo deve ser maior que 100
            </small>
          </div>
        </div>
      </div>
      <!--Dormitório-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['dormitorio'].invalid && ImovelForm.controls['dormitorio'].touched}">
          <label for="dormitorio-input"
                 class="form-control-label">Dormitórios</label>
          <input id="dormitorio-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['dormitorio'].invalid}"
                 formControlName="dormitorio"
                 placeholder="Número de dormitórios">
          <div *ngIf="ImovelForm.controls['dormitorio'].invalid && ImovelForm.controls['dormitorio'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['dormitorio'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
      <!--Suíte-->
      <div class="col">
        <div class="form-group"
             [ngClass]="{'has-danger': ImovelForm.controls['suite'].invalid && ImovelForm.controls['suite'].touched}">
          <label for="suite-input"
                 class="form-control-label">Suítes</label>
          <input id="suite-input"
                 type="number"
                 class="form-control"
                 [ngClass]="{'form-control-danger': ImovelForm.controls['suite'].invalid}"
                 formControlName="suite"
                 placeholder="Número de suítes">
          <div *ngIf="ImovelForm.controls['suite'].invalid && ImovelForm.controls['suite'].touched">
            <div class="form-control-feedback"> Oops! Há algo de errado!</div>
            <small class="form-text text-muted"
                   *ngIf="ImovelForm.controls['suite'].errors?.min">O campo deve ser maior que 0
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
