<div class="col-12">
  <div class="form-group row">
    <label class="col-2 col-form-label"> Buscar Rua</label>
    <div class="col-8">
      <input id="busca"
             type="text"
             (keyup)="busca($event.target.value)"
             placeholder="Rua, cep,bairro, cidade, estado ou uf"
             class="form-control"
             aria-describedby="Procure a rua por rua, cep, bairro, cidade, estado ou uf">
    </div>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let rua of lista | paginate: {itemsPerPage: 10, currentPage: p}">
      <td>
        Endereço: {{rua.rua}}
      </td>
      <td>
        <p *ngIf="rua.cep != null">CEP: {{rua.cep}}</p>
      </td>
      <td>
        Bairro: {{rua.bairro.bairro}}
      </td>
      <td>
        {{rua.bairro.cidade.cidade}} - {{rua.bairro.cidade.estado.estado}}
      </td>
      <td>
        <button routerLink="/admin/ruas/editar/{{rua.id}}" class="btn btn-primary">
          <i class="fa fa-pencil-square-o fa-lg"></i>
          Editar Rua
        </button>
      </td>
      <td>
        <button (click)="apagar(rua.id)" class="btn btn-danger">
          <i class="fa fa-trash-o fa-lg"></i>
          Apagar Rua
        </button>
      </td>
    </tr>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Próximo"
      autoHide="true"
      screenReaderPaginationLabel="Paginação"
      screenReaderPageLabel="Página"
      screenReaderCurrentLabel="Página atual">
    </pagination-controls>
    </tbody>
  </table>
</div>
