<div class="row">
  <div class="col-12">
    <div class="row" *ngFor="let imovel of imoveis">
      <div class="col-md-5">
        <a href="images/1.jpg">
          <img src="images/1.jpg" class="img-fluid">
        </a>
        <br>
        <br>
        <button class="btn btn-warning btn-lg my-2 my-sm-0" type="submit">TENHO INTERESSE</button>
      </div>
      <div class="col-md-7">
        <h4 class="page-header">Detalhes do imóvel: </h4>
        <p>
          <b>Finalidade:</b> {{imovel.finalidade}}
        </p>
        <p>
          <b>Tipo:</b> {{imovel.tipo}}
        </p>
        <p>
          <b>Cidade:</b> {{imovel.cidade}} - {{imovel.uf}}
        </p>
        <p>
          <b>Bairro:</b> {{imovel.bairro}}
        </p>
        <p>
          <b>Endereço:</b> {{imovel.rua}}
        </p>
        <p>
          {{imovel.dormitorio}} Dormitórios
        </p>
        <p>
          {{imovel.suite}} Suíte
        </p>
        <p>
          {{imovel.banheiros}} Banheiros
        </p>
        <p>
          {{imovel.garagens}} Garagens
        </p>
        <p>
          <b>Área de Serviço: </b>
          {{imovel.aservico == 1 ? "Sim" : "Não"}}
        </p>
        <p>
          <b>Mobíliado:</b>
          {{imovel.mobilia == 1 ? "Sim" : "Não"}}
        </p>
        <p>
          <b>Área Terreno:</b> {{imovel.aterreno}} m²
        </p>
        <p>
          <b>Área Construída:</b> {{imovel.aconstruida}} m²
        </p>
        <p>
          <b> Descrição:</b>
          {{imovel.descricao}}
        </p>
      </div>
    </div>
  </div>
</div>
