<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <a href="images/1.jpg">
        <img src="images/1.jpg">
      </a>
      <br>
      <br>
      <button class="btn btn-warning btn-lg my-2 my-sm-0" type="submit">TENHO INTERESSE</button>
    </div>
    <div class="col-lg-7">
      <h4 class="page-header">Detalhes do Imóvel: </h4>
      <p><b>Finalidade:</b> Venda</p>
      <p><b>Tipo:</b> Residencial</p>
      <p><b>Cidade:</b> Itapeva - SP</p>
      <p><b>Bairro:</b> Jardim Europa</p>
      <p><b>Endereço:</b> Avenida Europa</p>
      <p>3 Dormitórios</p>
      <p>1 Suíte</p>
      <p> 2 Banheiros</p>
      <p>2 Garagens</p>
      <p><b>Mobília:</b> Não</p>
      <p><b>Área Terreno:</b> 600 m²</p>
      <p><b>Área Construída:</b> 300 m²</p>
      <p><b> Descrição:</b>
        3 quartos (1 suite), 2 banheiros, copa, cozinha, lavanderia, edicula completa com churrasqueira
        e garagem</p>
    </div>
  </div>
</div>
