<div class="row">
  <div class="col-12" *ngFor="let imovel of imoveis">
    <div class="row">
      <div class="col-md-5">
        <a href="images/1.jpg">
          <img src="images/1.jpg" class="img-fluid">
        </a>
        <br>
        <br>
      </div>
      <div class="col-md-4">
        <h4 class="page-header">Detalhes do imóvel: </h4>
        <p>
          <b>Finalidade:</b> {{imovel.finalidade}}
        </p>
        <p>
          <b>Tipo:</b> {{imovel.tipo}}
        </p>
        <p>
          <b>Cidade:</b> {{imovel.cidade}}/{{imovel.uf}}
        </p>
        <p>
          <b>Bairro:</b> {{imovel.bairro}}
        </p>
        <p>
          <b>Endereço:</b> {{imovel.rua}}
        </p>
        <p>
          <b *ngIf="imovel.aterreno != null">Área Terreno:</b> {{imovel.aterreno}} m²
        </p>
        <p>
          <b *ngIf="imovel.aconstruida != null">Área Construída:</b> {{imovel.aconstruida}} m²
        </p>
        <h4>
          <b *ngIf="imovel.valor != null">Valor: R${{imovel.valor}}</b>
        </h4>
      </div>
      <div class="col-md-3">
        <br>
        <p>
          <b> Descrição:</b>
          {{imovel.descricao}}
        </p>
        <p>
          {{imovel.dormitorio}} Dormitórios
        </p>
        <p>
          {{imovel.suite}} Suíte
        </p>
        <p>
          {{imovel.banheiros}} Banheiros
        </p>
        <p>
          {{imovel.garagens}} Garagens
        </p>
        <p>
          <b *ngIf="imovel.aservico != null">Área de Serviço: </b>
          {{imovel.aservico == 1 ? "Sim" : "Não"}}
        </p>
        <p>
          <b *ngIf="imovel.mobilia != null">Mobíliado:</b>
          {{imovel.mobilia == 1 ? "Sim" : "Não"}}
        </p>
      </div>
    </div>
  </div>
</div>
