<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-responsive table-hover">
        <thead>
        <tr>
          <td>
            <a routerLink="/imoveis/{{this.imovel.id_tipo}}/{{this.imovel.id_finalidade}}"><< Voltar para
              {{this.imovel.tipo.tipo}}/{{this.imovel.finalidade.finalidade}}</a>
          </td>
        </tr>
        </thead>
      </table>
      <div class="row" *ngIf="imovel.foto.length > 0">
        <div class="col-sm-5">
          <a (click)="onClick(imagem)" data-toggle="modal" data-target="#imagem">
            <figure class="figure">
              <img src="assets/images/{{imovel.foto[0].foto}}" class="figure-img img-fluid rounded exibicao">
              <figcaption class="figure-caption">Clique para ver mais</figcaption>
            </figure>
          </a>


          <!--Modal-->
          <ng-template #imagem>
            <div class="modal-header">
              <h5 class="modal-title pull-left" id="imagemLabel">Fotos</h5>
              <button type="button" class="close pull-right" (click)="modalref.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <carousel>
                <slide *ngFor="let image of imovel.foto">
                  <img src="assets/images/{{image.foto}}" class="d-block img-fluid rounded imagem">
                </slide>
              </carousel>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-danger" (click)="modalref.hide()">Fechar</button>
            </div>
          </ng-template>
          <!--Fim do modal-->
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-warning " data-toggle="modal"
                  data-target="#interesse">
            TENHO INTERESSE
          </button>
          <!--Modal-->
          <div class="modal fade" id="interesse" tabindex="-1" role="dialog" aria-labelledby="interesseLabel"
               aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="interesseLabel">Tenho Interesse</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form #interesse="ngForm" (ngSubmit)="onSubmit(interesse)">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome"
                             ngModel>
                    </div>
                    <div class="form-group">
                      <label for="celular">Celular</label>
                      <input type="text" class="form-control" name="celular" id="celular" placeholder="(15)99999-9999"
                             ngModel>
                    </div>
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input type="text" class="form-control" name="email" id="email" placeholder="email@email.com"
                             ngModel>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--Fim do modal-->
        </div>
        <div class="col-sm-4">
          <h4 class="page-header">Detalhes do imóvel: </h4>
          <p>
            <b>Finalidade:</b> {{this.imovel.finalidade.finalidade}}
          </p>
          <p>
            <b>Tipo:</b> {{this.imovel.tipo.tipo}}
          </p>
          <p>
            <b>Cidade:</b> {{this.imovel.rua.bairro.cidade.cidade}}/{{this.imovel.rua.bairro.cidade.estado.uf}}
          </p>
          <p *ngIf="this.imovel.rua.bairro != null">
            <b>Bairro:</b> {{this.imovel.rua.bairro.bairro}}
          </p>
          <p *ngIf="this.imovel.rua != null">
            <b>Endereço:</b> {{this.imovel.rua.rua}}
          </p>
          <p *ngIf="this.imovel.aterreno != null">
            <b>Área Terreno:</b> {{this.imovel.aterreno}} m²
          </p>
          <p *ngIf="this.imovel.aconstruida != null">
            <b>Área Construída:</b> {{this.imovel.aconstruida}} m²
          </p>
        </div>
        <div class="col-sm-3">
          <br>
          <p>
            <b> Descrição:</b>
            {{this.imovel.descricao}}
          </p>
          <p *ngIf="this.imovel.dormitorio != null">
            {{this.imovel.dormitorio}} Dormitórios
          </p>
          <p *ngIf="this.imovel.suite != null">
            {{this.imovel.suite}} Suíte
          </p>
          <p *ngIf="this.imovel.banheiro != null">
            {{this.imovel.banheiro}} Banheiros
          </p>
          <p *ngIf="this.imovel.garagem != null">
            {{this.imovel.garagem}} Garagens
          </p>
          <p *ngIf="this.imovel.aservico != null">
            <b>Área de Serviço: </b>
            {{this.imovel.aservico === true ? "Sim" : "Não"}}
          </p>
          <p *ngIf="this.imovel.mobilia != null">
            <b>Mobíliado:</b>
            {{this.imovel.mobilia === true ? "Sim" : "Não"}}
          </p>
        </div>
        <div class="col-sm-7 offset-md-5">
          <h4 *ngIf="this.imovel.valor != null">
            <b>Valor: R${{this.imovel.valor}}</b>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
