.miniatura {
  padding-top: 5px;
  max-width: 100px;
  min-height: 100%;
  width: 100%;
}

.exibicao {
  border: 5px solid darkgrey;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.imagem {
  min-width: 100%;
  max-height: 100%
}
