<div class="geral">
  <div class="header-background">
    <div class="row">
      <div class="col-md-8" style="align: center">
        <a routerLink="/admin"><img src="/images/logo_cort.png" class="logo img-fluid"></a>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="contact-header">
          <h1>Imobiliária Unidas</h1>
          <h2>Área do administrador</h2>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/admin">Administração</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdow" aria-controls="navbarNavDropdow" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdow">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="Imovel" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Imoveis
          </a>
          <div class="dropdown-menu" aria-labelledby="Imovel">
            <a class="dropdown-item" routerLink="/admin/imoveis">Lista de imóveis</a>
            <a class="dropdown-item" routerLink="/admin/novoimovel">Novo imóvel</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="fa fa-sign-out fa-lg"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container corpo">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="row" style="padding-left: 15px">
    <div class="col-sm-2">
      <b>Residencial</b>
      <br>
      <a routerLink="/imoveis/residencial/venda">Vendas</a>
      <br>
      <a routerLink="/imoveis/residencial/aluguel">Aluguel</a>
    </div>
    <div class="col-sm-2">
      <b>Comercial</b>
      <br>
      <a routerLink="/imoveis/comercial/venda">Vendas</a>
      <br>
      <a routerLink="/imoveis/comercial/aluguel">Aluguel</a>
    </div>
    <div class="col-sm-2">
      <b>Kitnet</b>
      <br>
      <a routerLink="/imoveis/kitnet/venda">Vendas</a>
      <br>
      <a routerLink="/imoveis/kitnet/aluguel">Aluguel</a>
    </div>
    <div class="col-sm-2">
      <b>Imóveis Rurais</b>
      <br>
      <a routerLink="/imoveis/rural/venda">Vendas</a>
      <br>
      <a routerLink="/imoveis/rural/aluguel">Aluguel</a>
    </div>
    <div class="col-sm-2">
      <b>Terrenos</b>
      <br>
      <a routerLink="/imoveis/terreno/venda">Vendas</a>
      <br>
      <a routerLink="/imoveis/terreno/aluguel">Aluguel</a>
    </div>
    <div class="col-sm-2">
      <b>Institucional</b>
      <br>
      <a routerLink="/empresa">A Empresa</a>
      <br>
      <a routerLink="/regraslocacao">Regras de Locação</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="text-align: center">
      <h5 style="font-size: 0.875rem">Imobiliária Unidas - Rua Santana, 275 - Centro - Itapeva/SP - (15)3521-1472 -
        (15)3522-3319</h5>
      <h6 style="font-size: 0.75rem">Segunda à Sexta das 8h às 18h. Sábados das 8h às 12h.</h6>
    </div>
  </div>
</footer>
