<div class="col-12">
  <h3>Regras de Locação</h3>
  <p><a href="documentos/locacao.pdf">Arquivos com as regras de locação</a></p>

  <p>Os documentos para locação do imóvel:</p>
  <p><b>Não possuir restrições no C.P.F.</b></p>
  Do titular e cônjugue:
  <ul>
    <li>Cópia do R.G. e do C.P.F.</li>
    <li>Comprovante de renda (aproximadamente 3X o valor do aluguel pretendido)</li>
    <li>Comprovante de residência</li>
  </ul>
  Do fiador e cônjugue:
  <ul>
    <li>Cópia do R.G. e C.P.F.</li>
    <li>Comprovante de renda (aproximadamente 3X o valor do imóvel pretendido)</li>
    <li>Comprovante de residência</li>
    <li>Cópia da matricula do imóvel</li>
  </ul>
</div>
