<div class="col-12">
  <h4>
    {{rotatipo | camelCase}} >> {{rotafinalidade | camelCase}}
    <br>
    <br>
  </h4>
  <table class="table table-responsive table-hover">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let imovel of imoveis" routerLink="/imovel/{{imovel.id}}">
      <td>
        <img src="/images/{{imovel.foto[0].foto}}" class="foto rounded">
      </td>
      <td>
        Endereço: {{imovel.rua.rua}},{{imovel.numero}}
        <br>
        Bairro: {{imovel.rua.bairro.bairro}}
        <br>
        Cidade: {{imovel.rua.bairro.cidade.cidade}}/{{imovel.rua.bairro.cidade.estado.uf}}
      </td>
      <td class="coluna">
        <p *ngIf="imovel.valor != null">Valor: R${{imovel.valor}}</p>
      </td>
      <td class="coluna">
        <i class="fa fa-bed fa-fw"></i>
        <br>
        {{imovel.dormitorio}}
      </td>
      <td class="coluna">
        <i class="fa fa-car fa-fw"></i>
        <br>
        {{imovel.garagens}}
      </td>
      <td class="coluna">
        <i class="fa fa-shower fa-fw"></i>
        <br>
        {{imovel.banheiros}}
      </td>
      <td class="coluna">
        <b>Descrição:</b>
        {{imovel.descricao}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
