<div class="col-12">

  <div class="row">
    <div class="col-12">
      <div class="propaganda">
        <a href="http://www.ourovilleitapeva.com.br"><img src="images/ouroville.gif"></a>
      </div>
    </div>
    <div class="col-12">
      <h3 class="vitrine">Vitrine de Casas</h3>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a routerLink="/pages/imovel"><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <h4><a>Nome</a>
          </h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <h4><a>Nome</a>
          </h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item">
        <a><img src="images/1.jpg"></a>
        <div class="descricao">
          <h4 class="pull-right">Valor:</h4>
          <p>Localização:</p>
        </div>
      </div>
    </div>
  </div>
</div>
