<div class="geral">
  <div class="header-background container-fluid">
    <div class="row">
      <div class="col-md-8" style="align: center">
        <a routerLink="/"><img src="assets//images/logo_cort.png" class="logo img-fluid"></a>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="contact-header">
          <h1>Imobiliária Unidas</h1>
          <h6>Creci: </h6>
          <h4>25 anos com você!</h4>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">Unidas</a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNavDropdow">
      <ul dropdown class="navbar-nav mr-auto">
        <li dropdown *ngFor="let tp of tipo" class="nav-item dropdown" [routerLinkActive]="['active']">
          <a dropdownToggle role="button" class="nav-link dropdown-toggle" id="{{tp.tipo}}">
            {{tp.tipo}}
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="[tp.tipo]">
            <a class="dropdown-item" *ngFor="let fim of finalidade"
               routerLink="/imoveis/{{tp.id}}/{{fim.id}}" [routerLinkActive]="['active']">
              {{fim.finalidade}}</a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#" [routerLinkActive]="['active']">Anuncie seu imóvel</a>
        </li>
        <li dropdown class="nav-item dropdown" [routerLinkActive]="['active']">
          <a dropdownToggle class="nav-link dropdown-toggle" role="button" id="Institucional">
            Institucional
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="Institucional">
            <a class="dropdown-item" routerLink="/empresa" [routerLinkActive]="['active']">A Empresa</a>
            <a class="dropdown-item" routerLink="/regraslocacao" [routerLinkActive]="['active']">Regras de Locação</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<div class="container corpo">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <div class="container-fluid">
    <div class="row" style="padding-left: 15px">
      <div class="col-sm-2">
        <b>Institucional</b>
        <br>
        <a routerLink="/empresa">A Empresa</a>
        <br>
        <a routerLink="/regraslocacao">Regras de Locação</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="text-align: center">
        <h5 style="font-size: 0.875rem">Imobiliária Unidas - Rua Santana, 275 - Centro - Itapeva/SP - (15)3521-1472 -
          (15)3522-3319</h5>
        <h6 style="font-size: 0.75rem">Segunda à Sexta das 8h às 18h. Sábados das 8h às 12h.</h6>
        <p>
          Curta nossa redes sociais e fique por dentro
          <a href="https://www.facebook.com/unidasimobiliaria2/">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
