<div class="col-12">
  <h2 class="page-header">Imobiliária Unidas</h2>
  <p>
    A Imobiliária Unidades nasceu em 1987, em uma Itapeva que ainda vislumbrava seu crescimento, porém com um
    grande potencial para conduzir a região. Ao longo desses 25 anos, acompanhamos o crescimento do
    município que hoje figura como liderança regional, destacando-se no mercado imobiliário. Desde então,
    nossa missão é nutrir uma amizade com base na integridade e confiabilidade. Tudo isso é um grande
    desafio, mas apostamos num mercado crescente e na paixão das pessoas que aqui estão, bem como, àqueles
    que aqui desejam aportar.
  </p>
  <h4><b>Sejam bem vindos!</b></h4>
</div>

