<div class="col-12">
  <table class="table table-responsive table-hover">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let imovel of imoveis">
      <td>
        <img src="/images/1.jpg" class="foto rounded">
      </td>
      <td>
        Endereço: {{imovel.rua.rua}},{{imovel.numero}}
        <br>
        Bairro: {{imovel.rua.bairro.bairro}}
        <br>
        Cidade: {{imovel.rua.bairro.cidade.cidade}}/{{imovel.rua.bairro.cidade.estado.uf}}
      </td>
      <td class="coluna">
        <p *ngIf="imovel.rua.cep != null">CEP: {{imovel.rua.cep}}</p>
      </td>
      <td>
        <button routerLink="/admin/imoveis/editar/{{imovel.id}}" class="btn btn-primary">
          <i class="fa fa-pencil-square-o fa-lg"></i>
          Editar Imóvel
        </button>
      </td>
      <td>
        <button (click)="pdf(imovel.id)" class="btn btn-warning">
          <i class="fa fa-print fa-lg"></i>
          Gerar pdf para pasta
        </button>
      </td>
      <td>
        <button (click)="apagarImovel(imovel.id)" class="btn btn-danger">
          <i class="fa fa-trash-o fa-lg"></i>
          Apagar imóvel
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
