<div class="col-12">
  <div class="row">

    <div class="col">
      <a routerLink="/admin/ruas/lista" class="btn btn-light fa-lg">
        <i class="fa fa-road fa-4x"></i>
        <h4 class="text-muted">Ruas</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/bairros/lista" class="btn btn-light fa-lg">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle-o fa-stack-2x "></i>
          <i class="fa fa-road fa-stack-1x"></i>
        </span>
        <h4 class="text-muted">Bairros</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/cidades/lista" class="btn btn-light fa-lg">
        <i class="fa fa-building fa-4x"></i>
        <h4 class="text-muted">Cidades</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/estados/lista" class="btn btn-light fa-lg">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle-o fa-stack-2x "></i>
          <i class="fa fa-building fa-stack-1x"></i>
        </span>
        <h4 class="text-muted">Estados</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/imoveis/lista" class="btn btn-light fa-lg">
        <i class="fa fa-home fa-5x"></i>
        <h4 class="text-muted">Imóveis</h4>
      </a>
    </div>
    <div class="col">
        <span class="fa-stack">
          <a routerLink="/admin/imoveis/novo" class="btn btn-lg btn-light">

          <i class="fa fa-plus-circle fa-stack-1x"></i>
          <i class="fa fa-home fa-5x"></i>
          <h4 class="text-muted">Novo</h4>
          </a>
        </span>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col">
      <a routerLink="/admin/tipos/lista" class="btn btn-light fa-lg">
        <i class="fa fa-tag fa-4x"></i>
        <h4 class="text-muted">Tipos</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/tipos/lista" class="btn btn-light fa-lg">
        <span class="fa-stack fa-2x">
          <i class="fa fa-tag fa-stack-2x "></i>
          <i class="fa fa-plus-circle fa-inverse fa-stack-1x"></i>
        </span>
        <h4 class="text-muted">Novo</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/tipos/lista" class="btn btn-light fa-lg">
        <i class="fa fa-tags fa-4x"></i>
        <h4 class="text-muted">Finalidades</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/tipos/lista" class="btn btn-light fa-lg">
        <span class="fa-stack fa-2x">
          <i class="fa fa-tags fa-stack-2x "></i>
          <i class="fa fa-plus-circle fa-inverse fa-stack-1x"></i>
        </span>
        <h4 class="text-muted">Novo</h4>
      </a>
    </div>
    <div class="col">
      <a routerLink="/admin/interesses/lista" class="btn btn-light fa-lg">
        <i class="fa fa-info-circle fa-4x"></i>
        <h4 class="text-muted">Interesses</h4>
      </a>
    </div>
  </div>
</div>
