<div class="col-12">
  <div class="row">
    <div class="col">
      <a routerLink="/admin/imoveis" class="btn btn-light fa-lg">
        <i class="fa fa-home fa-5x"></i>
        <h4 class="text-muted">Imóveis</h4>
      </a>
    </div>
    <div class="col">
        <span class="fa-stack">
          <a routerLink="/admin/novoimovel" class="btn btn-lg btn-light">

          <i class="fa fa-plus-circle fa-stack-1x"></i>
          <i class="fa fa-home fa-5x"></i>
          <h4 class="text-muted">Novo</h4>
          </a>
        </span>
    </div>
  </div>
</div>
