<div class="col-12">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="filtroForm">
        <h3>Filtros</h3>
        Tipos:
        <div *ngFor="let t of tipos">
          <div *ngFor="let c of tiposc">
            <div *ngIf="c.id===t.id">
              <input class="form-check-input" type="checkbox" value="{{t.id}}">{{t.tipo}}({{c.cont}})
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-8">
      <alert type="danger" *ngIf="imoveis.length === 0">
        <h3 class="alert-heading">Nenhum imóvel nesta categoria encontrado</h3>
      </alert>
      <table class="table table-responsive table-hover">
        <thead>
        </thead>
        <tbody>

        <tr *ngFor="let imovel of lista | paginate: {itemsPerPage: 10, currentPage: p}"
            routerLink="/imovel/{{imovel.id}}">
          <th scope="row">{{imovel.id}}</th>
          <td *ngIf="imovel.foto.length >0">
            <img src="assets//images/{{imovel.foto[0].foto}}" class="foto rounded">
          </td>
          <td>
            Endereço: {{imovel.rua.rua}},{{imovel.numero}}
            <br>
            Bairro: {{imovel.rua.bairro.bairro}}
            <br>
            Cidade: {{imovel.rua.bairro.cidade.cidade}}/{{imovel.rua.bairro.cidade.estado.uf}}
          </td>
          <td class="coluna">
            <p *ngIf="imovel.valor != null">Valor: R${{imovel.valor}}</p>
          </td>
          <td class="coluna">
            <b>Descrição:</b>
            {{imovel.descricao}}
          </td>
        </tr>
        </tbody>
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Anterior"
          nextLabel="Próximo"
          autoHide="true"
          screenReaderPaginationLabel="Paginação"
          screenReaderPageLabel="Página"
          screenReaderCurrentLabel="Página atual">
        </pagination-controls>
      </table>
    </div>
  </div>
</div>
