<div class="col-12">
  <div class="form-group row">
    <label class="col-2 col-form-label"> Buscar Bairro</label>
    <div class="col-8">
      <input id="busca"
             type="text"
             (keyup)="busca($event.target.value)"
             placeholder="Bairro, cidade, estado ou uf"
             class="form-control"
             aria-describedby="Procure o bairro por bairro, cidade, estado ou uf">
    </div>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let bairro of lista | paginate: {itemsPerPage: 10, currentPage: p}">
      <td>
        Bairro: {{bairro.bairro}}
      </td>
      <td>
        Cidade: {{bairro.cidade.cidade}}
      </td>
      <td>
        Estado: {{bairro.cidade.estado.estado}}
      </td>
      <td>
        <button routerLink="/admin/bairros/editar/{{bairro.id}}" class="btn btn-primary">
          <i class="fa fa-pencil-square-o fa-lg"></i>
          Editar Bairro
        </button>
      </td>
      <td>
        <button (click)="apagar(bairro.id)" class="btn btn-danger">
          <i class="fa fa-trash-o fa-lg"></i>
          Apagar Bairro
        </button>
      </td>
    </tr>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Próximo"
      autoHide="true"
      screenReaderPaginationLabel="Paginação"
      screenReaderPageLabel="Página"
      screenReaderCurrentLabel="Página atual">
    </pagination-controls>
    </tbody>
  </table>
</div>
